template(name="skyTab")
	h1 #{hTest}
	ul.sky-tab
		each getTabs
			+childSkyTab
		li.new-button
			a(href="#") &nbsp;
			span.fa.fa-plus

template(name="childSkyTab")
	li(class="#{class}")
		a(href="#") #{caption}
		span.fa.fa-trash-o
