template(name="metroHome")
	.metro
		.tile-group-3
			.tile.quatro.lime
			.tile.pumpkin
			.tile.amethyst
			.tile.double
			.tile
		.tile-group-3
			.tile.lime
			.tile.pumpkin.double.double-vertical
			.tile.quadro.amethyst
			.tile.selected
			.tile.double-vertical
		.tile-group-1.pull-right
			.tile.lime
			.tile.pumpkin
			.tile.amethyst
			.tile.blue