template(name="import")
    .content
        .content-heading
            button.btn.btn-default.create-import(type='submit') Xem Phiếu Nhập Hàng
            button.btn.btn-default.add-import-detail(type='submit') Xem Sản Phẩm Của Phiếu
            button.btn.btn-default.create-product(type='submit') Thêm Dòng Sản Phẩm Mới

        .content-sub-heading
            if showCreateImport
                +createImport
            if showCreateProduct
                +createProduct
            if showAddImportDetail
                +addImportDetail

        .content-body
            if showCreateImport
                h2 #{showCurrentImport._id}
                |Xem Import
                +showImport
            if showCreateProduct
                |Xem Product
                +showProduct
            if showAddImportDetail
                if showCurrentImport
                    |Xem ImportDetail
                    +showCurrentImportDetail
                else
                    h2 Chưa Chọn Import

        .content-footer footer



template(name='createImport')
    .row
        .col-lg-3
            .input-group
                span.input-group-addon Decription:
                input.form-control.createImport-description(type='text')
        .col-lg-2
            button.btn.btn-default.createImport(type='submit') Tạo

template(name='createProduct')
    .row
        .col-lg-3
            .input-group
                span.input-group-addon Tên Sản Phẩm:
                input.form-control.createProduct-name(type='text')
        .col-lg-2
            .input-group
                span.input-group-addon ProductCode:
                input.form-control.createProduct-productCode(type='text')
        .col-lg-2
            .input-group
                span.input-group-addon Skull:
                input.form-control.createProduct-skull(type='text')
        .col-lg-2
            .input-group
                span.input-group-addon Giá Bán:
                input.form-control.createProduct-price(type='text')
        .col-lg-2
            button.btn.btn-default.createProduct(type='submit') Tạo

template(name='addImportDetail')
    .row
        .col-lg-2
            .sl2(style="width: 250px;")
        .col-lg-2
            .input-group
                span.input-group-addon Số lượng:
                input.form-control.importQuality(type='text' value='0')
        .col-lg-2
            .input-group
                span.input-group-addon Giá nhập:
                input.form-control.importPrice(type='text' value='0')
        .col-lg-3
            .input-group
                span.input-group-addon Ngày Hết Hạn:
                input.form-control(type='text')
        .col-lg-3
            button.btn.btn-default.addImportDetail(type='submit') Create
            button.btn.btn-default.resetImportDetail(type='submit') Reset
            button.btn.btn-default.finish(type='submit') Finish


template(name='showImport')
    +reactiveTable(collection=importCollection)
template(name='showProduct')
    +reactiveTable(collection=productCollection)
template(name='showCurrentImportDetail')
    +reactiveTable(collection=importDetailCollection)


