template(name="warehouse")
	.page-header
		h1 Warehouse <small>Page</small>

		+esInput(index="products" id="search" placeholder="tìm sản phẩm")
		+ifEsIsSearching(index="products" id="search" logic="OR")
			div Searching...

		+esEach(index="products" id="search")
			+productSearch

template(name="productSearch")
	h4 #{name} (#{productCode})