template(name="home")
	.content
		.content-heading: a asdkjad
		.content-sub-heading: a sub heading
		.content-body body
		.content-footer footer
	//.content: .panel
	//	.panel-heading Home
	//	.panel-body
	//		h1 Hello #{engineName}
	//			input(type="button", value="Click")
	//		i.fa.fa-pencil
	//		button.lime.btn.btn-labeled
	//			span.btn-label.left: i.fa.fa-pencil
	//			| button
	//		br
	//		br
	//		button.lime.btn.d3.btn-labeled
	//			span.btn-label.left: i.fa.fa-pencil
	//			| 3d button
	//	.panel-footer footer
