template(name="layout")
	.application(class="#{collapse}")
		header
			.branding
				a(href="/" ) Enterprise #{collapse} ??
				a.collapse-toggle: i.fa.fa-list
			+navigation
		if currentUser
			.wrapper
				.left-side
					+sidebar
				.right-side()
					+yield
		else
			.wrapper
				.left-side: +yield