template(name="productPopover")
	#productPopover.popover.fade(style='width: 300px')
		.arrow
		h3.popover-title THÊM MỚI SẢN PHẨM
		.popover-content.modalable
			.wrapper.bottom: p form
				//+reactiveTable(collection=products)
				div(align="right"): a.btn.btn-danger Tạo mới
			ul.grid
				each products
					li
						|#{name}, #{skulls}
						a.btn.btn-danger xóa
			.wrapper.top(align="right"): a.btn.btn-danger Button <br />