template(name="sidebar")
	ul.sidebar-nav
		li: a: i.fa.fa-th-list
		li.active: a: i.fa.fa-comments
		li: a: i.fa.fa-pencil
	.sidebar-caption: span Thảo luận
    nav.sidebar.light
        ul
            li.title main menu
            li.active: a(href="#"): i.icon-home Dashboard
            li.stick.gb-red: a(href="#"): i.icon-cog Layouts
            li.stick.background-lime
                a.dropdown-toggle(href="#"): i.icon-tree-view Sub menu
                ul.dropdown-menu(data-role="dropdown")
                    li: a(href="#") Sub item 1
                    li: a(href="#") Sub item 2
                    li: a(href="#") Sub item 3
                    li.divider
                    li: a(href="#") Sub item 4
                    li.disabled: a(href="#") Disabled

	//.user-info()
	//	.avatar()
	//		img()
	//	.info()
	//		h4.welcome
	//			small.color-lime Quản lý <br />
	//			| Ngoc Son
	//	.commands: a.pumpkin.btn(href="/logout"): i.fa.fa-power-off
	//	ul.sidebar-menu
		//li(ng-class="{{isActiveRoute 'home'}}", ng-repeat="item in application.navs")
		//	a(href="#{{item.url}}")
		//		i(ng-class="item.icon")
		//		span {{item.title}}